@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "light";
  src: url("/fonts/Merchant-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "bold";
  src: url("/fonts/ppneuemontreal-bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.line {
  font-family: light;
}

